html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    animation: pageLoad 1s ease-in-out;
    /* font-family: cinzel; */
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}

/* fade up animation for full pages */


/* nav button */
.offcanvas{
    background: #0B4843; 
}
.menu-circle {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background: #0B4843;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2000; /* stays above offcanvas */
}

.menu-link {
  color: white;
  text-decoration: none;
  display: block;
  padding: 12px 0;
  font-size: 18px;
}

.menu-link:hover{
    color: #ffd700;
}

/* completed, ongoing tab buttons */
.nav-pills .nav-link {
    background: #d4af37;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 40px;
    min-width: 220px;
    text-align: center;
    transition: all 0.3s ease;
}

.nav-pills .nav-link.active {
    background: #0B4843;
    color: #fff;
    border-color: #fff;
}

.nav-pills .nav-link:hover {
    background: #0B4843;
    color: #fff;
}

/* Navbar */
.custom-navbar {
    position: absolute;
    width: 100%;
    z-index: 1000;
    padding-top: 20px;
}

.navbar-nav .nav-link {
    color: #222;
    font-weight: 600;
    font-size: 14px;
    margin: 0 10px;
}

 .enquiry-btn {
    background: #caab3c;
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: 600;
}

.enquiry-btn:hover {
    background: #c4912e;
    color: #fff;
} 

/* side enquiry button */

.floating-buttons{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 9999;
}

.float-btn{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
    transition: .3s;
}

.float-btn:hover{
    transform: scale(1.1);
    color: #fff;
}

.enquiry-btn{
    background: #ffc107;
}

.whatsapp-btn{
    background: #25D366;
}

.chatbot-btn{
    background: #198754;
}

/* Hero */
.hero-section {
    position: relative;
    min-height: 100vh;
    background: url('../images/landingPage2.png') center center/cover no-repeat;
}

.about-section{
    position: relative;
    min-height: 100vh;
    background: url('../images/aboutus.png') center center/cover no-repeat;
}

.project-section{
    opacity: 0.8;
    position: relative;
    min-height: 100vh;
    background: url('../images/villas.png') center center/cover no-repeat;
}

.contact-section{
    position: relative;
    min-height: 100vh;
    background: url('../images/contactus.png') center center/cover no-repeat;
}

/* why choose us section ends here */

.icon-box {
    width: 90px;
    height: 90px;
    margin: auto;
    border-radius: 50%;
    background: #f4b400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}


.bg-grey {
    background-color: #f2f2f2;
}

.overlay {
    position: absolute;
    inset: 0;
    /* background:rgba(255,255,255,0.35); */
}

.text-content {
    z-index: 2;
}

.text-content h1 {
    font-size: 70px;
    line-height: 1.2;
    /* color: #111; */
    color:#084843;
    font-weight: 300;
}

.text-content span {
    color: #caab3c;
}

.text-content p {
    font-size: 18px;
    color: #444;
    line-height: 1.8;
}

.explore-btn {
    background: #005c50;
    color: #fff;
    padding: 14px 28px;
    border-radius: 4px;
    font-weight: 600;
}

.explore-btn span {
    color: #caab3c;
}

.explore-btn:hover {
    background: #084843;
    color: #fff;
}

/* Stats Bar */
.stats-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #004f46;
    color: #d8b46b;
    padding: 30px 0;
}

.stat-item {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.why-section col-lg-2{
border-right: 1px solid #d8b46b;
}

.stat-item:last-child {
    border-right: none;
}

.stat-item h2 {
    font-size: 42px;
    font-weight: 700;
}

.stat-item p {
    color: #fff;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.gold-line {
    /* width: 150px; */
    height: 2px;
    background: linear-gradient(to right,
            transparent,
            #d4af37,
            transparent);
    margin: 20px 0;
}

/* //////////////////////////////////////////////////// */

.section-title {
    font-weight: 600;
    letter-spacing: 1px;

    margin-top:20px;
    /* font-size:48px; */
    /* font-weight:700; */
    color:#1C1C1C;
}
.discover-projects{
    background: #F7F5F1;
    padding: 100px 0;
}

/* Gold Line */

.title-line{
    width:80px;
    height:4px;
    background:#D4AF37;
    border-radius:20px;
    margin:20px auto 30px;
}

.gold {
    color: #cda349;
}

.gold-link {
    color: #cda349;
    text-decoration: none;
    font-weight: 600;
}

.project-card {
    border: none;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .08);
}

.project-card img {
    height: 250px;
    object-fit: cover;
}

.project-card a {
    color: #cda349;
    text-decoration: none;
    font-weight: 600;
}

.why-section {
    background: #faf8f3;
}

.why-section h6 {
    margin-top: 15px;
    font-weight: 600;
}

.amenities-section {
    background: #01463e;
    color: #fff;
}

.btn-gold {
    background: #cda349;
    color: #fff;
    border: none;
    padding: 12px 30px;
}

.btn-gold:hover {
    background: #b48b36;
    color: #fff;
}

.testimonial-card {
    background: #01463e;
    color: #fff;
    padding: 40px;
    border-radius: 15px;
    height: 100%;
}

.footer-section {
    background: #013c35;
    color: #fff;
}

.footer-section .form-control {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .2);
    color: #fff;
}

.footer-section .form-control::placeholder {
    color: #ddd;
}

.list-unstyled li:last-child{
    margin-bottom: 0;
}

.quick-links a{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
    padding: 8px 0;
}

.quick-links li a:hover {
    color: #b48b36 !important;
}

.logo {
    color: #cda349;
    font-weight: 700;
}

/* enquiry modal */

.enquiry-modal{
    border:none;
    border-radius:25px;
    overflow:hidden;
}

.enquiry-left{
    background:linear-gradient(135deg,#184d3d,#0b2b23);
    color:#fff;
    padding:50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.enquiry-left img{
    border-radius:15px;
}

.mini-title{
    color:#d6b56a;
    letter-spacing:3px;
    font-size:13px;
    text-transform:uppercase;
}

.enquiry-left h2{
    font-size:42px;
    margin:20px 0;
    line-height:1.2;
}

.enquiry-left span{
    color:#d6b56a;
}

.enquiry-left p{
    color:#d9d9d9;
    line-height:1.8;
}

.custom-input{
    border:none;
    border-bottom:2px solid #ddd;
    border-radius:0;
    padding:15px 5px;
    background:none;
    box-shadow:none;
}

.custom-input:focus{
    border-color:#c9a227;
    box-shadow:none;
}

.enquiry-btn{
    background:#c9a227;
    color:#fff;
    padding:15px;
    border-radius:50px;
    font-weight:600;
    transition:.4s;
}

.enquiry-btn:hover{
    background:#184d3d;
    color:#fff;
}

.custom-close{
    position:absolute;
    right:20px;
    top:20px;
    z-index:1000;
    background:#fff;
    border-radius:50%;
    padding:10px;
}


/* .enquiry-floating{
    background: #ffc107;
    color: #fff;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
    text-decoration:none;
    z-index:9999;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.enquiry-floating:hover{
    transform: scale(1.1);
    transition: .3s;
} */


@media(max-width:768px) {

    .section-title {
        font-size: 24px;
         /* font-size:34px; */
    }

    .project-card img {
        height: 220px;
    }

    .testimonial-card {
        margin-top: 20px;
    }

      .text-content h1 {
        font-size: 40px;
    }

    .stats-bar {
        position: relative;
    }

    .stat-item {
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        padding: 15px 0;
    }

    .promise-subtitle{
        font-size:30px;
    }

    .promise-text{
        font-size:16px;
    }

    .promise-img{
        border-radius:15px;
    }
}

@media (min-width: 992px) {
    .pt-lg-7 {
        padding-top: 8rem !important;
    }

    .pb-lg-7 {
        padding-bottom: 8rem !important;
    }
     .hero-section {
        height: 900px; /* Desktop */
    }
}

/*=============================
        OUR PROMISE
==============================*/

/* OUR PROMISE */

.our-promise{
    background:#f8f8f8;
}

.promise-img{
    max-width:900px;
    width:100%;
    border-radius:20px;
    box-shadow:0 20px 40px rgba(0,0,0,0.12);
}

.promise-title{
    font-size:16px;
    font-weight:600;
    color:#b68d2d;
    letter-spacing:3px;
    text-transform:uppercase;
    margin-bottom:15px;
}

.promise-subtitle{
    font-size:42px;
    font-weight:600;
    color:#222;
    line-height:1.4;
    margin-bottom:25px;
}

.promise-text{
    max-width:850px;
    margin:0 auto;
    font-size:18px;
    line-height:1.9;
    color:#666;
}

/* // contact section */

.contact-info{
    background:#f8f9fa;
}

.contact-card{
    background:#fff;
    border-radius:20px;
    padding:40px 30px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
    height:100%;
}

.contact-card:hover{
    transform:translateY(-8px);
}

.icon{
    width:75px;
    height:75px;
    margin:0 auto 20px;
    border-radius:50%;
    background:#0B4843;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
}

.contact-card h5{
    color:#0B4843;
    font-weight:700;
    margin-bottom:15px;
}

.contact-card p{
    color:#666;
    margin-bottom:15px;
    line-height:1.7;
}

.contact-link{
    color:#b48b36;
    text-decoration:none;
    font-weight:600;
}

.contact-link:hover{
    color:#0B4843;
}